.App {
  text-align: center;
}
.white{
  color:white
}

.Card{
  width: 500px;
  margin: 1vh;
  border-radius: 10px;
  background-color: rgba(54, 49, 58, 0.329);
}

.align{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li{
  list-style: none;
}

.alignCollumns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2vh;
}